#chats {
   padding-top: 10px;
   margin-right: 30px;
   list-style-type: none;
   display: inline-block;
   text-align: left;
 }

#username, #msg {
  margin-bottom: 10px;
}
input {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  padding: 15px;
  border: 1px solid;
}
.login {
  background-color: #2c2f33;
  color: white;
  padding-top: 40px;
  text-align: center;
  height: 100vh;
}
#login {
  margin-bottom: 10px;
}
.register {
  background-color: #2c2f33;
  color: white;
  padding-top: 40px;
  text-align: center;
  height: 100vh;
}
.reg {
  text-align: center;
}
.background {
  background-color: #2c2f33;
  color: white;
  float: left;
  text-align: center;
  width: 700px;
  height: 100vh;
}
button {
  background-color: #008CBA;
  padding: 8px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
button:hover {
  background-color: black;
  color: white;
}
.panel {
  background-color: #23272a;
  color: white;
  float: left;
  display: inline-block;
  margin: 0;
  width: 375px;
  height: 100vh;
}
.users {
  background-color: #23272a;
  color: white;
  float: right;
  position: absolute;
  display: inline-block;
  margin: 0;
  width: 375px;
  height: 100vh;
}
#users {
  list-style-type: none;
}
.userspan {
  margin-left: 30px;
}
.del {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
  padding-right: 10px;
}
.del:hover{
  background: none;
  color: red;
}
.edit {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
  padding-right: 10px;
}
.edit:hover{
  background: none;
  color: blue;
}

.editInput {
  display: none;
}